# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docs
/docs/_build/
/docs/make.bat

# Editors
.idea
.vscode

# Coverage
htmlcov
.coverage*
coverage.xml

# Examples
/examples/**/output/*
/examples/datasets/
/examples/embeddings/
/examples/training/quora_duplicate_questions/quora-IR-dataset/
examples/datasets/*/


# Specific files and folders
/pretrained-models/
/cheatsheet.txt
/testsuite.txt
/TODO.txt

# Virtual environments
.env
.venv
env/
venv/

# Others
*.pyc
*.gz
*.tsv
tmp_*.py
nr_*/
wandb
checkpoints
tmp
.DS_Store
examples/training/sts/train_bert_base_uncased_stsb.ipynb
examples/training/sts/batu_results/similarity_evaluation_sts-dev_results.csv
examples/training/sts/test.py
examples/training/sts/test.ipynb
.ipynb_checkpoints
